.navbar-brand{
    color: #244D4D;
    font-family: 'Monserrat';
    font-weight: 700;
    font-size: 24px;
    
}

.{
     vertical-align: middle;
}
.partner-text{
    color: #244D4D;
    font-family: 'Dm sans';
    font-weight: 700;
    font-size: 32px;
    
}

